name: CI-BASE

on:
  workflow_call:
    inputs:
      WF_NODE_VERSION:
        type: string
        required: true
      WF_ENV_TYPE_DEPLOY:
        type: string
        required: true
      WF_PUBLISH_CODE_COVERAGE:
        type: string
        default: "false"
        required: false
      WF_BACKSTAGE_URL:
        type: string
        required: false
      WF_FONT_AWESOME_TOKEN:
        type: string
        required: false
      WF_CREATE_DOTENV_BEFORE_BUILD:
        type: boolean
        default: false
        required: false
      WF_ENV_TYPE:
        type: string
        required: false

    secrets:
      WF_NPM_TOKEN:
        required: true
      WF_NPM_USER:
        required: true
      WF_GITHUB_TOKEN:
        required: true
      WF_REGISTRY:
        required: true
      WF_FONT_AWESOME_TOKEN:
        required: false
      WF_AWS_ACCESS_KEY_ID:
        required: false
      WF_AWS_SECRET_ACCESS_KEY:
        required: false
      WF_AWS_REGION:
        required: false

    outputs:
      servicename:
        description: "The service name"
        value: ${{ jobs.setup.outputs.output1 }}

jobs:
  setup:
    environment: ${{ inputs.WF_ENV_TYPE_DEPLOY }}
    name: preparing
    env:
      FONT_AWESOME_TOKEN: ${{ secrets.WF_FONT_AWESOME_TOKEN }}
    runs-on: ubuntu-latest
    continue-on-error: false
    outputs:
      output1: ${{ steps.serviceName.outputs.servicename }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.WF_NODE_VERSION }}
          cache: "yarn"
          registry-url: ${{ secrets.WF_REGISTRY }}

      - name: Cache NPM dependencies
        id: node-modules-cache
        uses: actions/cache@v4
        env:
          cache-name: node-modules-cache
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Set up .npmrc
        run: |
          echo "@querodelivery:registry=https://npm.pkg.github.com" > .npmrc
          echo "//npm.pkg.github.com/:_authToken=${{ secrets.WF_NPM_TOKEN }}" >> .npmrc
          if [ -n "$FONT_AWESOME_TOKEN" ]; then
            echo "@fortawesome:registry=https://npm.fontawesome.com/" >> .npmrc
            echo "//npm.fontawesome.com/:_authToken=$FONT_AWESOME_TOKEN" >> .npmrc
          fi

      - name: install packages using yarn.lock
        if: steps.node-modules-cache.outputs.cache-hit != 'true'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.WF_NPM_TOKEN }}
        run: yarn --frozen-lockfile

      - name: Getting SERVICE_NAME
        id: serviceName
        run: |
          SERVICE_NAME=$(node -p -e "require('./package.json').name")
          echo "servicename=$SERVICE_NAME" >> $GITHUB_OUTPUT

      - name: Upload node_modules and .npmrc as artifact
        uses: actions/upload-artifact@v4
        with:
          name: node-setup
          path: |
            node_modules
            .npmrc
          retention-days: 1

  lint:
    environment: ${{ inputs.WF_ENV_TYPE_DEPLOY }}
    name: linting
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.WF_NODE_VERSION }}
          cache: "yarn"
          registry-url: ${{ secrets.WF_REGISTRY }}

      - name: Download node_modules and .npmrc
        uses: actions/download-artifact@v4
        with:
          name: node-setup
          path: .

      - name: linting
        run: yarn lint

  test:
    environment: ${{ inputs.WF_ENV_TYPE_DEPLOY }}
    name: testing
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.WF_NODE_VERSION }}
          cache: "yarn"
          registry-url: ${{ secrets.WF_REGISTRY }}

      - name: Download node_modules and .npmrc
        uses: actions/download-artifact@v4
        with:
          name: node-setup
          path: .

      - name: testing
        env:
          RUN_PUBLISH_COVERAGE: ${{ inputs.WF_PUBLISH_CODE_COVERAGE }}
          BACKSTAGE_URL: ${{ inputs.WF_BACKSTAGE_URL }}
        run: |
          yarn test:ci
          COMPONENT_NAME=$(node -p -e "require('./package.json').name")
          FILE=coverage/int/cobertura-coverage.xml
          if $RUN_PUBLISH_COVERAGE; then
            if [ -f "$FILE" ]; then
              curl --request POST \
                --url "$BACKSTAGE_URL/api/code-coverage/report?entity=component%3Adefault%2F$COMPONENT_NAME&coverageType=cobertura" \
                --header 'Content-Type: text/xml' \
                --data @$FILE
              echo "Sending coverage report to quero developer portal"
            else
              echo "::warning:: $FILE does not exist, code coverage not sent"
            fi
          fi

  release:
    environment: ${{ inputs.WF_ENV_TYPE_DEPLOY }}
    name: release
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.WF_NODE_VERSION }}
          cache: "yarn"
          registry-url: ${{ secrets.WF_REGISTRY }}

      - name: Download node_modules and .npmrc
        uses: actions/download-artifact@v4
        with:
          name: node-setup
          path: .

      - name: Release
        env:
          NPM_TOKEN: ${{ secrets.WF_NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.WF_GITHUB_TOKEN }}
        run: yarn release

  build:
    environment: ${{ inputs.WF_ENV_TYPE_DEPLOY }}
    name: building
    runs-on: ubuntu-latest
    needs: [setup, release]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Creating dotenv from aws parameter store
        uses: almerindo/action-env-from-aws-ssm@main
        if: ${{ inputs.WF_CREATE_DOTENV_BEFORE_BUILD }}
        with:
          output: ./.env
          ssm-path: "/${{ inputs.WF_ENV_TYPE }}/${{ needs.setup.outputs.output1 }}"
          format: dotenv
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.WF_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.WF_AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.WF_AWS_REGION }}

      - name: Build Docker image
        run: |
          docker build -t ${{ needs.setup.outputs.output1 }}:ci-build .

      - name: Save Docker image
        run: |
          docker save ${{ needs.setup.outputs.output1 }}:ci-build | gzip > image.tar.gz

      - name: Upload Docker image as artifact
        uses: actions/upload-artifact@v4
        with:
          name: built-image
          path: image.tar.gz
